
body{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: 'Open Sans', sans-serif;

}
.main-page{
    width: 1000px;
    margin: 65px auto 0;

}
header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 55px;

}

nav{
    display: flex;
    justify-content: space-between;
    margin-bottom: 55px;

}


li{
    list-style: none;
    font-family: 'Mulish', sans-serif;

}


.list{
    text-decoration: none;
    padding-left: 48px;
    color: #1F1534;

}

main{
    display: flex;

}

#logo{
    display: flex;


}

h1{
    font-family: 'Mulish', sans-serif;
    font-size: 49px;
    line-height: 56px;
    color: #000;
    font-weight: normal;
}

ul li a {
    color: #333;
    transition: font-weight 0.3s ease;

}
ul li a:hover {
    font-weight: bold;
}

h1 span{
    color: #89C5CC;
    font-weight: bold;

}

strong{
color: #7D7987;

}

button{
    display: flex;
    align-items: center;
    padding: 14px 32px 15px;
    gap: 10px;
    border: none;
    border-radius: 5px;

    background-color: #69B99D;
    color: white;
    
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;

}

button:hover{
    transition: all 0.5s ease;
    background-color: #73C0A0;

}

p{
    font-size: 14px;
    line-height: 28px;
    color: #7D7987;
    margin-bottom: 56px;
}

#image-right-side{
    margin-left: 102px;

}