
body{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: 'Open Sans', sans-serif;

}
.main-page{
    width: 1000px;
    margin: 65px auto 0;

}
header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 55px;

}

nav{
    display: flex;
    justify-content: space-between;
    margin-bottom: 55px;

}


li{
    list-style: none;
    font-family: 'Mulish', sans-serif;

}


.list{
    text-decoration: none;
    padding-left: 48px;
    color: #1F1534;

}

main{
    display: flex;

}

#logo{
    display: flex;


}

h1{
    font-family: 'Mulish', sans-serif;
    font-size: 49px;
    line-height: 56px;
    color: #000;
}

ul li a {
    color: #333;
    transition: font-weight 0.3s ease;

}
ul li a:hover {
    font-weight: bold;
}